degeneratecontext/src/main/resources/ctx.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:workspace="http://credit.paypal.com/v1/schema/ctx"
           targetNamespace="http://credit.paypal.com/v1/schema/ctx">

    <xs:element name="beans" type="workspace:BeansType"/>

    <xs:element name="value" type="xs:string"/>
    <xs:element name="bean" type="workspace:BeanType"/>
    <xs:element name="list" type="workspace:ListType"/>
    <xs:element name="ref" type="workspace:ReferenceType"/>

    <xs:complexType name="BeansType">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="workspace:bean"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="BeanType">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="constructor-arg" type="workspace:ConstructorArgType"/>
        </xs:sequence>

        <xs:attribute name="id" type="xs:string" use="optional"/>
        <xs:attribute name="class" type="xs:string" use="required"/>
        <xs:attribute name="scope" type="workspace:ScopeType" use="optional"/>
    </xs:complexType>

    <xs:complexType name="ListType">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:choice>
                <xs:element ref="workspace:bean"/>
                <xs:element ref="workspace:value"/>
                <xs:element ref="workspace:list"/>
                <xs:element ref="workspace:ref"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ReferenceType">
        <xs:attribute name="bean" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="ConstructorArgType">
        <xs:choice>
            <xs:element ref="workspace:bean"/>
            <xs:element ref="workspace:value"/>
            <xs:element ref="workspace:list"/>
            <xs:element ref="workspace:ref"/>
        </xs:choice>
        <xs:attribute name="index" type="xs:int"/>
    </xs:complexType>

    <xs:simpleType name="ScopeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="prototype" />
            <xs:enumeration value="singleton" />
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
