cellaworkflowcommand/src/main/resources/workflow.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:workspace="http://credit.paypal.com/v1/schema/workflow"
           targetNamespace="http://credit.paypal.com/v1/schema/workflow">

    <xs:element name="workflow" type="workspace:WorkflowType">
    </xs:element>

    <xs:element name="processor" abstract="true" type="workspace:BaseProcessorType"/>
    <xs:element name="serial-controller" type="workspace:SerialControllerType" substitutionGroup="workspace:processor"/>
    <xs:element name="parallel-controller" type="workspace:ParallelControllerType" substitutionGroup="workspace:processor"/>
    <xs:element name="conditional-controller" type="workspace:ConditionalControllerType" substitutionGroup="workspace:processor"/>
    <xs:element name="business-processor" type="workspace:BusinessProcessorType" substitutionGroup="workspace:processor"/>

    <xs:element name="process-list">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="workspace:processor" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="BaseProcessorType" abstract="true">
        <xs:annotation>
            <xs:documentation>
                A BaseProcessorType may be one of the following, either
                a processor, serial controller, parallel controller or a
                conditional controller.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute type="xs:string" name="id" use="required"/>
    </xs:complexType>

    <xs:complexType name="WorkflowType">
        <xs:annotation>
            <xs:documentation>
                A WorkflowType must include a context class name and at least one
                processor.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element ref="workspace:process-list"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="context-class" use="required"/>
    </xs:complexType>

    <xs:complexType name="SerialControllerType">
        <xs:annotation>
            <xs:documentation>
                A SerialControllerType must include one or more processors, each of which is
                run sequentially on a single thread.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="workspace:BaseProcessorType">
                <xs:sequence minOccurs="1" maxOccurs="unbounded">
                    <xs:element ref="workspace:processor"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ParallelControllerType">
        <xs:annotation>
            <xs:documentation>
                A ParallelControllerType must include one or more processors, each of which is
                run in parallel on worker threads.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="workspace:BaseProcessorType">
                <xs:sequence minOccurs="1" maxOccurs="unbounded">
                    <xs:element ref="workspace:processor"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ConditionalControllerType">
        <xs:annotation>
            <xs:documentation>
                A ConditionalControllerType must include one processor which is executed iff
                the context field value is equal to the given value at the point of execution
                of the workflow.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="workspace:BaseProcessorType">
                <xs:sequence minOccurs="1" maxOccurs="1">
                    <xs:element ref="workspace:processor"/>
                </xs:sequence>
                <xs:attribute type="xs:string" name="context-field" use="required"/>
                <xs:attribute type="xs:string" name="field-value" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="BusinessProcessorType">
        <xs:annotation>
            <xs:documentation>
                A user defined processor, usually a processor that does some business work.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="workspace:BaseProcessorType">
                <xs:sequence>
                    <xs:element type="workspace:optionsType" name="options" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
                <xs:attribute type="xs:string" name="impl" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="optionsType">
        <xs:annotation>
            <xs:documentation>
                A processsor may include one or more configuration options.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>